body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:493px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:48px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:70px;
  width:192px;
  height:47px;
  font-size:18px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:69px;
  width:192px;
  height:48px;
  overflow:hidden;
}
#u116_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u116_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:48px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:118px;
  width:192px;
  height:47px;
  font-size:18px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:48px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:165px;
  width:192px;
  height:47px;
  font-size:18px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:48px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:212px;
  width:192px;
  height:47px;
  font-size:18px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
